# OS dosyaları
.DS_Store
Thumbs.db
desktop.ini

# Editor dosyaları
.vscode/
.idea/
*.suo
*.user

# Log dosyaları
*.log

# Bağımlılıklar
node_modules/

# Electron build çıktıları
dist/
out/

# Android build çıktıları
android/build/
android/app/build/
android/.gradle/
android/local.properties

# Capacitor geçici
.capacitor/
